code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  height: 100vh;
}
.main{
  height: 100vh;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
  margin: 0;
  padding: 24px;
}

input{
  height: 48px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 24px;
}
button {
  background-color: white;
  color: rgb(0, 37, 245);
  padding: 12px 24px;
  width: 50%;
  margin: 12px 0;
  border: 1px solid #444444;
  cursor: pointer;
  font-size: 24px;

}
.btn-group{
  margin: 48px;
}

.display{
  background-color: rgba(1, 16, 66, 0.322);
  color: white;
  padding: 48px;
}